  <div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    keyExpr="id"
    [showBorders]="true"
    (onSaved)="onSave($event)"
  >
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    >
      <dxo-popup
        title="Gestione clienti"
        [showTitle]="true"
        [width]="700"
        [height]="525"
      >
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item [disabled]="true" dataField="id"></dxi-item>
          <dxi-item dataField="cognome"></dxi-item>
          <dxi-item dataField="nome"></dxi-item>
          <dxi-item dataField="codiceFiscale"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="id" caption="Id" [width]="50"></dxi-column>
    <dxi-column dataField="cognome" caption="Cognome" [width]="250"></dxi-column>
    <dxi-column dataField="nome" caption="Nome" [width]="250"></dxi-column>
    <dxi-column dataField="codiceFiscale" caption="Codice Fiscale" [width]="200"></dxi-column>
    
  </dx-data-grid>
</div>
<!--
  <div>
  Work in progress
</div>
--> 