
<ng-container
*ngIf="{
  rooms: devCalendarSandbox.rooms$ | async,
  appointments: devCalendarSandbox.appointments$ | async
} as data";
>
<div call="dx-viewport">
<!--La ngIf nel dx-scheduler mi serve per evitare che, 
    se rooms è vuoto il componente vada in errore -->
<dx-scheduler
      *ngIf="data.rooms && data.rooms.length >0"
      timeZone="America/Los_Angeles"
      [dataSource]="data.appointments"
      currentView="week"
      [currentDate]="devCalendarSandbox.currentDate"
      [(groupByDate)]="devCalendarSandbox.groupByDate"
      [startDayHour]="7"
      [endDayHour]="20"
      [groups]="['priorityId']"
      [height]="700"
      [firstDayOfWeek]="1"
      [crossScrollingEnabled]="true"
      dateCellTemplate="dateCellTemplate"
      (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
    >
      <div *dxTemplate="let data of 'dateCellTemplate'">
        <div class="name">
          {{['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven',
          'Sab'][data.date.getDay()]}}
        </div>
      </div>
      <dxi-view type="week" name="Settimana"> </dxi-view>
      <dxi-view type="month" name="Mese"> </dxi-view>
      <dxi-view type="day" name="Giorno"> </dxi-view>
      <dxi-resource
        [dataSource]="data.rooms"
        fieldExpr="priorityId"
        label="Stanze"
        [allowMultiple]="false"
      ></dxi-resource>
    </dx-scheduler>

    <div class="options">
      <div class="caption">raggruppamento per data</div>
      <div class="option">
        <dx-switch [(value)]="devCalendarSandbox.groupByDate"> </dx-switch>
      </div>
    </div>
  </div>
  </ng-container>
  