
<ng-container
*ngIf="{
  apps4Sched: devCalendarSandbox.apps4Sched$| async,
  listUser4Group: devCalendarSandbox.listUsers4Group$| async,
  listRooms4Group: devCalendarSandbox.listRooms4Group$| async,
  listServizi4Group: devCalendarSandbox.listServizi4Group$| async,
  listClienti4Group: devCalendarSandbox.listClienti4Group$| async,
} as data";
>
<div call="dx-viewport">
<!--La ngIf nel dx-scheduler mi serve per evitare che, 
    se rooms è vuoto il componente vada in errore -->
<dx-scheduler
      *ngIf="data.listRooms4Group && data.listRooms4Group.length > 0 &&
             data.listUser4Group && data.listUser4Group.length > 0 &&
             data.listServizi4Group && data.listServizi4Group.length > 0"
      timeZone="Europe/Rome"
      [dataSource]="data.apps4Sched"
      currentView="day"
      [currentDate]="devCalendarSandbox.currentDate"
      [(groupByDate)]="devCalendarSandbox.groupByDate"
      [startDayHour]="9"  
      [endDayHour]="20"
      [groups]="['userId']"
      [height]="700"
      [firstDayOfWeek]="1"
      [crossScrollingEnabled]="false"
      dateCellTemplate="dateCellTemplate"
      (onAppointmentFormOpening)="onAppointmentFormOpening($event, data.listRooms4Group, data.listUser4Group, data.listClienti4Group ,data.listServizi4Group )"
      (onAppointmentUpdated)="onAppointmentUpdated($event)"
      (onAppointmentUpdating)="onAppointmentUpdating($event)"
      
    >
      <div *dxTemplate="let data of 'dateCellTemplate'">
        <div class="name">
          {{['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven',
          'Sab'][data.date.getDay()]}}
        </div>
      </div>
      <dxi-view type="week"   name="Settimana"> </dxi-view>
      <dxi-view type="month"  name="Mese"> </dxi-view>
      <dxi-view type="day"    name="Giorno"> </dxi-view>
      <dxi-resource
        [dataSource]="data.listUser4Group"
        fieldExpr="userId"
        label="Utenti"
        [allowMultiple]="false"
      ></dxi-resource>
      <dxi-resource 
        [dataSource]="data.listServizi4Group"
        fieldExpr="servId"
        label="Servizi"
        [useColorAsDefault]="true"
        [allowMultiple]="false"
      ></dxi-resource>
    </dx-scheduler>

    <div class="options">
      <div class="caption">raggruppamento per data</div>
      <div class="option">
        <dx-switch [(value)]="devCalendarSandbox.groupByDate"> </dx-switch>
      </div>
    </div>
  </div>
  </ng-container>
  