<div class="main-container">
  <div class="header-menu-oriz">
    <span class="menu-oriz-title">Dev Calendar</span>
  </div>
  <div class="body-container">
    <div class="header-menu-vert">
      <div class="vertical-box">
        <i class="fa-solid fa-folder-open fa-2x"></i>
      </div>
      <div class="vertical-box">
        <i class="fa-solid fa-users fa-2x"></i>
      </div>
      <div class="vertical-box">
        <i class="fa-solid fa-bed fa-2x"></i>
      </div>
      <div class="vertical-box">
        <i class="fa-solid fa-calendar-days fa-2x"></i>
      </div>
    </div>
    <div class="body-hidden"></div>
    <div class="body-elements">
      <div class="body-element">
        <div class="sub-body-element-">
          <dev-calendar></dev-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
