<div class="main-container">
        <div class="header-menu-oriz">
          Ciao Ciao
      </div>
      <div class="body-container">
          <div class="header-menu-vert">
              <div >
                  <i class="fa-solid fa-camera fa-4x"></i>
              </div>
              <div >
                <i class="faFolder fa4"></i>
            </div>
            <div >
              <fa-icon class="fa4" [icon]="faFolder"></fa-icon>
          </div>
          </div>
          <div class="body-hidden"></div>
          <div class="body-elements">
            <div class="body-element"> 
              <div class="sub-body-element- ">
                <dev-calendar></dev-calendar>
              </div>
            </div>
          </div>
      </div>
</div>